.env
.idea/
*.pyc
*.pyo
**/node_modules/
etc/dist/
etc/app/bower/
flashcrowd/static/*.js
flashcrowd/static/*.map
flashcrowd/static/*.css
flashcrowd/static/fonts/
*.sqlite3
flashcrowd/media
phonegap/**/static
phonegap/platforms/**/www/index.html
phonegap/platforms/**/build