header.header.container-fluid
    .row
        .col-xs-3
            img(width=100 height=100 src="about:_blank")
        .col-xs-9
            | John Doe

#page-cnt.container-fluid

footer.footer.container-fluid
    nav
        li home