#alerts

#page-cnt

footer.footer
    nav.nav.nav-pills
        li(role="navigation"): a(data-href="/task/feed") feed
        li(role="navigation"): a(data-href="/task/my") my
        li(role="navigation"): a(data-href="/task/new") new
        li(role="navigation"): a(data-href="/") awards
        li(role="navigation"): a(data-href="/") profile