header
    nav.nav.nav-pills
        li(role="presentation"): a.active(data-href="/task/active") Accepted
        li(role="presentation"): a(data-href="/task/saved") Saved
        li(role="presentation"): a(data-href="/task/my") My

if !model.length
    h2(style="text-align: center") Whops! Nothing here so far :-(

each task in model
    .row.task
        .col-xs-3
            img(width=64 height=64 src=task.author.photo)
        .col-xs-9
            h5= task.author.username
            p
                if task.summary
                    b= task.summary
                    | &nbsp;
                = task.description
