include _task

header
    nav.nav.nav-pills
        li(role="presentation"): a(data-href="/task/active")(class=tab == 'active'?'active':'') Accepted
        li(role="presentation"): a(data-href="/task/saved")(class=tab == 'saved'?'active':'') Saved
        li(role="presentation"): a(data-href="/task/my")(class=tab == 'my'?'active':'') My
        li(role="presentation"): a(data-href="/calls") Calls

if !model.length
    h2(style="text-align: center") Whops! Nothing here so far :-(

each task in model
    +TaskCard(task)
