include _task

header
    nav.text-center
        .btn-group
            a.btn.btn-default.btn-lg(data-href="/task/active")(class=tab == 'active'?'active':'') Accepted
            a.btn.btn-default.btn-lg(data-href="/task/saved")(class=tab == 'saved'?'active':'') Saved
            a.btn.btn-default.btn-lg(data-href="/task/my")(class=tab == 'my'?'active':'') My
            a.btn.btn-default.btn-lg(data-href="/calls") Calls

if !model.length
    h2(style="text-align: center") Whops! Nothing here so far :-(

each task in model
    +TaskCard(task)
