//
   Created by admin on 6/4/16.


form(data-action="/task/save" role="form")
    .form-group
        label(for="category") Category:
        select.form-control#category(name="category" required)
            option(value="selfie") Selfie
            option(value="geo") Geo
            option(value="team") Team
            option(value="stranger") Stranger
            option(value="mystery") Mystery
    .form-group
        label(for="bounty") Bounty:
        input.form-control#bounty(type="number" min=0 required name="bounty" value=model.bounty)
    .form-group
        label(for="summary") Summary:
        input.form-control#summary(type="text" required value=model.summary)
    .form-group
        label(for="description") Description:
        br
        textarea.form-control#description(required name="description")= model.description
    .form-group
        label(for="deadline") Deadline:
        input.form-control#deadline(type="datetime" name="deadline" value=model.dealine)

    button.btn.btn-lg.btn-default.btn-success(type="submit") Save