@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap"

header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 100px
  background: transparentize(lime, .9)

  img
    border-radius: 25%
    overflow: hidden
    background: #ddd

footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 50px

  background: transparentize(red, .9)

#page-cnt
  overflow: scroll
  margin-top: 100px
  margin-bottom: 50px
  background: #fafafa
  height: calc(100vh - 150px)