$icon-font-path: "/static/fonts/bootstrap/"

@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap"

$fa-font-path: "/static/fonts"

@import "../bower/font-awesome/scss/font-awesome"

footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 38px

  background: transparentize(red, .9)
  z-index: 1001

header
  background: transparentize(blueviolet, .5)
  margin: -15px
  padding: 15px
  margin-bottom: 15px
  position: relative
  z-index: 0

#alerts
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10001

#page-cnt, .dialog
  overflow: scroll
  margin-bottom: 38px
  background: #fafafa
  height: calc(100vh - 38px)
  position: relative
  box-sizing: border-box
  padding: 15px

  &.freeze::after
    content: ' '
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: transparentize(#aaa, .3)
    z-index: 1000

.task + .task
  margin-top: 15px

.dialog
  padding: 15px
  position: fixed
  background: transparentize(white, .1)
  top: 0
  left: 0
  right: 0

  .dlg--content, .dlg--header, .dlg--footer
    background: #fff

  .dlg--content
    padding: 15px

.dlg--header

  .close-me
    float: right

.category
  border-radius: 50%
  width: 64px
  height: 64px
  background-color: #ddd

  &.selfie
    background-color: goldenrod

  &.geo
    background-color: greenyellow

  &.stranger
    background-color: blueviolet

  &.team
    background-color: orangered

  &.mystery
    background-color: cornflowerblue