$icon-font-path: "/static/fonts/bootstrap/"

@import "bootstrap-custom"

@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap"

$fa-font-path: "/static/fonts"

@import "_helpers"
@import "../bower/font-awesome/scss/font-awesome"

@import "spinner"

body
    background: $bg

footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 6rem

  background: $body
  border-top: 1px solid $hr
  z-index: 1001

header
  background: $soft
  margin: -15px
  padding: 15px
  margin-bottom: 15px
  position: relative
  z-index: 0

#alerts
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10001

#page-cnt, .dialog
  overflow: scroll
  margin-bottom: 6rem
  background: #fafafa
  height: calc(100vh - 6rem)
  position: relative
  box-sizing: border-box
  padding: 15px

#page-cnt
    background: $bg
    overflow-x: hidden

#page-cnt
  &.freeze
    &::before
      content: ' '
      position: fixed
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: transparentize(#aaa, .3)
      z-index: 1000

    &::after
      content: ' '
      border-radius: 50%
      width: $base-line-height*2
      height: $base-line-height*2
      border: .4rem solid $off-white
      border-top-color: $white
      animation: spin $spin-duration infinite linear
      position: fixed
      top: 50%
      left: 50%
      z-index: 10001
      margin-top: -$base-line-height
      margin-left: -$base-line-height

.task + .task
  margin-top: 15px

.dialog
  padding: 15px
  position: fixed
  background: $bg
  top: 0
  left: 0
  right: 0

//  .dlg--content, .dlg--header, .dlg--footer
//    background: #fff

  .dlg--content
    padding: 15px

.dlg--header

  .close-me
    float: right

.category
  border-radius: 50%
  width: 64px
  height: 64px
  background-color: $soft
  margin-right: 1rem

  &.bigger
    width: 96px
    height: 96px

  &.selfie
    background-color: goldenrod

  &.geo
    background-color: greenyellow

  &.stranger
    background-color: blueviolet

  &.team
    background-color: orangered

  &.mystery
    background-color: cornflowerblue

.main-menu
    padding-left: 5%
    padding-right: 5%
    .main-menu-item
        display: block
        text-align: center
        margin: 1rem 0
        color: $hr
        white-space: nowrap
        .main-menu-item-icon
            width: auto
            height: 2.5rem
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            &.icon-flash
                background-image: url(/static/images/flash.png)
            &.icon-my
                background-image: url(/static/images/my.png)
            &.icon-awards
                background-image: url(/static/images/awards.png)
            &.icon-profile
                background-image: url(/static/images/profile.png)
        .main-menu-item-title
            font-size: 1rem
            line-height: 1rem
            margin-top: 0.5rem
        &.active, &:hover
            color: $accent
            .main-menu-item-icon
                &.icon-flash
                    background-image: url(/static/images/flash-hover.png)
                &.icon-my
                    background-image: url(/static/images/my-hover.png)
                &.icon-awards
                    background-image: url(/static/images/awards-hover.png)
                &.icon-profile
                    background-image: url(/static/images/profile-hover.png)
    .main-menu-item-create
        cursor: pointer
        width: auto
        height: 6rem
        background: url(/static/images/create.png) no-repeat center top
        background-size: contain
        margin-top: -1.5rem
